.first
{
 color:red; 
 font-weight: bold;
 text-align:center;
 }
 
.second 
{
  font-weight: bold;
  color:blue;  
}

table,td
{
  border-color:black;
  border-style:solid;
  border-width:2px;
}

body
{
	background-image:url("background.jpg");
}